<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to contact</h1>
    <a href="/add/">Add</a>
    <table border="2px">    
        <tr>
            <th>name</th>
            <th>phone</th>
            <th>delete</th>
            <th>update</th>
            {% for item in data %}
                <tr>        
                    <td>{{item.name}}</td>
                    <td>{{item.phone}}</td>
                    <td><a href="/delete/{{item.id}}">Delete</a></td>
                    <td><a href="/update/{{item.id}}">update</a></td>
                </tr>
            {% endfor %}
        </tr> 
    </table>
</body>
</html>